<!DOCTYPE html>

<html lang="en">

<head>
    
    <meta charset="UTF-8">
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Mercado Liebre</title>

    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d750abc07f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="body">
 
    <header class="header-main">
     <div class="logo-buscador">
        <div>
<img class="imagen-logotipo" src="img/logo-mercado-liebre.svg">

<form action="" method="GET">
    <input class="barra" placeholder="Buscar productos y marcas ..." type="search" id="site-search" name="q">
    <button class="boton-bar"> <i class="fa-solid fa-magnifying-glass"></i></button>
</form>
</div>
</div>
<h2 class="compras-en-cuotas">
    <i class="fa-solid fa-hand-holding-dollar"></i>
    Comprá en cuotas y sin tarjeta de crédito
</h2>

<a href="#"></a>
<li  href="#" class="boton"><i class="fa-solid fa-bars"> </i>

    <div class="header-bajo">
<ul class= "barra.ofertas"> 
    <li> <a href="#"> Ofertas </a></li>
    <li>  <a href="#">Tiendas Oficiales</a> </li>
    <li> <a href="#">Vender </a></li>
    <li> <a href="#"> Ayuda </a></li>
 </ul>
 <ul class="barra"> 
    <li> <a href="#"> Creá tu cuenta  <i class="fa-solid fa-id-card"></i> </a> </li>
   
    <li> <a href="#">Ingresa  <i class="fa-solid fa-arrow-right-to-bracket"></i> </a> </li> 

    <li> <a href="#">Mis compras <i class="fa-solid fa-cart-shopping"></i> </a></li>

</ul>

</div>

</header>
<img  class = "banner" src="img/img-home-banner.jpg">
<br>
<br>
 
<main class="main-principal">
<h2  class="visitas">Basado en tu última visita</h2>
<div class="main-arriba">
<div class="p1">
<ul> <img class="imagen-mc"src="img/img-macbook-pro-2019.jpg">

<li class="precio"> $2.300.000</li>

<li class="descuento"> 20% off</li>

<li class="descripcion">MacBook Pro 2019
</div>
</li>
</ul>
<div class="p2">
<ul><img class="img-samsung" src=img/img-samsung-galaxy-s10.jpg>

<li class="precio">$170.500</li>

<li class="descuento
">10%off</li>

<li class="descripcion">Samsung Galaxy s10</li>
</div>
</div>

</ul>
<h2 class="visitas">Seccion de ofertas</h2>
<div class="main-abajo">
<div class="p3">

<ul><img class= "img-cafe"src=img/img-cafetera-moulinex.jpg>

<li class="precio">$30.000</li>

<li class="descuento">5% off</li>


<li class="descripcion">cafetera moulinex</li>
</ul>
</div>

<div class="p4">
<ul><img class="img-tv" src=img/img-tv-samsung-smart.jpg>

<li class="precio">$250.000</li>

<li class="descuento">10% off</li>

<li class="descripcion"> Televisor samsung smart</li>
</ul>
</div>
</div>

    </main>
<br>
<br>
<br>
<br>
 
    <footer>
<div class="texto">
    <div class="footer1">
        <i class="fa-solid fa-credit-card"></i>
        <p class="t1">  <strong>Pagá con tarjeta o efectivo </strong></p>

    <p class="t2">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
    <i class="fa-solid fa-truck-fast"></i>
    <p class="t3"> <strong> Envio gratis desde $ 2.500 </strong>  </p>
</div>

<div class="footer2">
    <p class="t4"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p> </div>
    <i class="fa-solid fa-shield-halved"></i>
    <p class="t5"> <strong> Seguridad, de principio a fin  </strong></p>

    <p class="t6">No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </div>
</div>
    <p class="t7">● Copyright © 1999-2020 MercadoLiebre S.R.L.</p>





    </footer>
</body>
</html>